/* Import reset and typography styles */
@import url('reset.css');

/* Main stylesheet */
:root {
  /* Color variables */
  --primary-color: #bbb;
  --primary-alt-color: #ddd;
  --secondary-color: #222;
  --background-color: #ffc704;

  --spacing: 15px;
}

/* Typography */
body,
h1,
h2,
h3,
h4,
h5,
h6,
div,
p,
span,
a,
a:hover,
strong, b,
em, i,
small,
blockquote,
code {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
    line-height: 1.5;
    color: var(--primary-color);
}

p {
    max-width: 69ch;
}


.site-container {
    background-color: var(--secondary-color);
    background-image: url('/assets/images/map-2.png');
    background-size: 125%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100vw;
}



.header {
    position: sticky;
    top: 0;
    display: flex;
    padding: 60px;
    background-color: var(--secondary-color);
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.16);
}

.title {
    flex-grow: 1;
    margin-bottom: 0;
}

.title > img {
    max-height: 96px;
}

.navigation {
    align-items: flex-end;
    display: flex;
    padding-right: 15px;
}

.navigation-list {
    display: flex;
    flex-direction: row;
    margin-bottom: 0;
    gap: 15px;
}

.navigation-item {
    list-style: none;
    margin-bottom: 0;
}



.content {
    padding: 60px;
}

.section {
    margin-bottom: 120px;
}

.section-title {
    color: var(--primary-alt-color);
    font-size: 2rem;
    margin-bottom: 3rem;
}

.section-subtitle {
    color: var(--primary-alt-color);
    font-size: 1.5rem;
    margin: 2rem 0 1rem;
}

.section-subtitle:first-child {
    margin-top: 0;
}

.about p {
    margin-top: 30px;
}

.about p:first-child {
    margin-top: 0;
}



.footer {
    background-color: var(--background-color);
    padding: 120px 60px 60px;
}

.footer p {
    color: var(--secondary-color);
    font-size: 0.8rem;
    margin-bottom: 0;
}